<launch>

    <!-- SIMULATOR -->
    <include file="$(find poppy_torso_gazebo)/launch/poppy_torso_gazebo_sim.launch">
        <arg name="paused" default="false"/>
    </include>

    <!-- CONTROLLERS -->
    <include file="$(find poppy_torso_gazebo)/launch/poppy_torso_gazebo_control_position.launch">
    </include>

</launch>
